*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.zip

*.class

*.zip

*.jar

.idea/misc.xml

.idea/misc.xml

.idea/runConfigurations.xml

.idea/vcs.xml

backend/build/exploded-app/WEB-INF/web.xml

backend/build/exploded-app/WEB-INF/registration-v1-rpc.discovery

*.discovery

backend/build/exploded-app/WEB-INF/logging.properties

backend/build/exploded-app/WEB-INF/appengine-web.xml

backend/build/exploded-app/META-INF/MANIFEST.MF
