*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.zip

*.class

*.zip

*.jar

.idea/misc.xml

.idea/misc.xml

.idea/runConfigurations.xml

.idea/vcs.xml
